@import url(http://fonts.googleapis.com/css?family=Raleway);
*{
  font-family: "Raleway",arial;
}

html,body{
	margin: 0;
	background-image: url('../images/bg.jpg');
	height: 100%;
}

a{
	text-decoration: none;
	color: black;
}

a:hover{
	color: gray;
}

input, select{
	display: block;
}

.frame{
	max-width: 1000px;
	margin: 0 auto;
	padding: 10px;
	box-shadow: 10px 10px 10px #888;
}

input,
textarea,
select {
  height: 38px;
  padding: 6px 10px; /* The 6px vertically centers text on FF, ignored by Webkit */
  background-color: #fff;
  margin-bottom: 3%;
  border: 1px solid #D1D1D1;
  width: 20%;
  border-radius: 4px;
  box-shadow: none;
  box-sizing: border-box; }

.button{
  display: inline-block;
  height: 38px;
  padding: 0 30px;
  color: #555;
  text-align: center;
  font-size: 11px;
  font-weight: 600;
  line-height: 38px;
  letter-spacing: .1rem;
  text-transform: uppercase; 
  text-decoration: none;
  white-space: nowrap;
  border-radius: 4px;
  border: 1px solid #bbb;
  cursor: pointer;
  box-sizing: border-box; }
.button:hover,
input[type="submit"]:hover,
 {
  color: #333;
  border-color: #888;
  outline: 0; }

  textarea{
  	resize: none;
  	width: 100%;
  	height: 30%;
  }

.header{
	width: 100%;
	background-color: #333;
	border-bottom: 5px solid #3399ff;
	height: 161px;
}
.adduser{
	text-align: center;
}
.header .logo{
	padding: 5px;
	width: 200px;
	float: left;
}
input.title{
	width: 100%;
}

input.adduser{
	width:100%;
}

.header .menu{
	max-width: 70%;
	margin: 10px;
	font-size: 16pt;
	text-align: right;
	padding-top: 120px;
	float: right;
}

.header .menu li{
	display: inline;
	padding-left: 10px;
}

.header .menu li a{
	transition: 0.5s color;
	color: #fff;
}
.header .menu li a:hover{
	color: #3399ff;
}

h1 span{
	font-size: 20px;
}
.content{
	background-color: #fff;
	min-height: 60%;
}

p.question_content{
	max-width: 70%;
}

.profile_info{
	    display: inline;
    vertical-align: top;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 28px;
}
.checked{
	color: lime;
}
.checked2::before{
	color:lime;
	font-size: 3em;
}
.checked::before{
	font-size: 3em;
}
.checked:hover {
    color: grey;
}
.unchecked{
	color: grey;
}
.unchecked::before{
	font-size: 3em;
}
.unchecked:hover{
	color: lime;
}
h2.answers{
	margin-left: 1%;
}
.post_info{
	position: absolute;
	right: 5px;
	top: 5px;
	text-align: right;
	margin-right: 2%;
}

.answer{
	border: 4px solid #A6A6A6;
	padding: 20px;
	position: relative;
	border-radius: 8px;
}

.question {
	position: relative;
}

.content_wrapper{
	margin: 25px;
}

p.title{
	margin-left: 4%;
}

div.question:hover{
	border: 4px solid #6CB5FF;
	transition: 0.5s color;
}

.main_title{
	text-align: center;
}

.question {
	position: relative;
	display: block;
	border: 4px solid #CCC;
	border-radius: 8px;
	position: relative;
	margin: 5px;
	padding-left: 5px;
}

.question_detail {
	position: relative;
	display: block;
	border: 4px solid #CCC;
	border-radius: 8px;
	position: relative;
	margin: 5px;
	padding: 2%;
}

.question_answers{
	display: block;
	border: 4px solid #CCC;
	border-radius: 8px;
	position: relative;
	margin: 3% 5px;
	padding:2%;
}
.question .info{
	position: absolute;
	color:black;
	margin-right: 2%;
	bottom: 0;
	right: 5px;
}
.question .solved{
	position: absolute;
	top: 20%;
	left: 5px;
	color: lime;
	font-size: 2em;
	text-shadow: 1px 1px #333;
}
.question_solved a{
	background-color: #B5FFBE;
}
.footer{
	background-color: #333;
	border-top: 5px solid #3399ff;
	text-align: center;
	color: #fff;
}

a.upvote{
	color: black;
}

a.upvote:hover{
	color: grey;
};

.votecount{
	text-align: left
}