*{
  font-family: arial;
}

a{
	text-decoration: none;
	color: black;
}

a:hover{
	color: grey;
}

input, select{
	display: block;
}

.question_checked::before{
	color: lightgreen;
	font-size: 5em;
}

div.answer{
	border: 1px solid black;
	padding: 20px;
}

