html {
    height: 100%;
}
body {
    margin: 0px;
    font-family: 'Open Sans';
    height: 100%;
}

/* Generic Style */
h1, h2, h3, h4, h5, h6 {
    font-family: 'Open Sans';
    font-weight: 400;
}

h1{
    font-size: 30px;
}

a{
    text-decoration: none;
}


/* Avatars */

.avatar_small{
    width: 80px;
    height: 80px;
}
/* Form */
form {
    width: 80%;
    margin: 0 auto;
}
form input, textarea{
    display: block;
    padding: 5px;
    width: 100%;
    font-size: 15px;
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 10px;
}
form input[type=submit]
{
    display: block;
    box-sizing:content-box;
    -moz-box-sizing:content-box;
}
/* Header */
nav {
    height: 80px;
    background-color: #222;
}

nav .logo {
    height: 70px;
    margin: 5px 0px 5px 10px;
    float: left;
}

/* Menu */
nav ul {
    list-style: none;
    margin: 0px;
}

nav ul li a{
    display: block;
    float: left;

    line-height: 80px;
    margin: 0 10px;

    color: #FFF;
    text-decoration: none;
    font-family: 'Open Sans';
}

nav ul li a:hover{
    color: #00b3ee;
}

/* Content */

/* Messages */
.messages{
    list-style: none;
    padding-left: 0px;
}
.messages li {
    padding: 4px;
    margin: 4px 0;
    color: #761e13;
    width: calc(100% - 4px);
    border: 2px solid #c2301f;
    background-color: #ff6c60;
}

section {
    max-width: 1200px;
    margin: 0 auto;
    padding: 30px;
    min-height: calc(100% - 186px);
}
section > a{
    background-color: #00b3ee;
    color: #005f7b;
    border-radius: 3px;
    height: 10px;
    line-height: 5px;
    padding: 4px 10px;
}

/* Vragen, antwoorden en comments */
h2.answers {
    border-bottom: 1px solid #CCC;
}

.box {
    position: relative;
}

.box h1, .box h2, .box h3{
    border-bottom: 1px solid #CCC;
}

.box.answer{
    padding-left: 50px;
    border-bottom: 1px solid #CCC;
    min-height: 120px;
}

.box .votes{
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
    font-size: 20px;
    color: #AAA;
}

/* Check */
.box .votes .check, .box .votes .check.active:hover{
    clear: both;
    display: block;
    font-size: 30px;
    color: #AAA;
}

.box .votes .check:hover, .box .votes .check.active{
    color: #5bdb46;
}

.box .votes a {
    color: #AAA;
}
.box .votes a:hover{
    color: #555;
}

.box .boxContent a{
    color: #AAA;

    font-weight: bold;
}

.box .boxContent a:hover{
    color: #222;

}

.box .boxFooter{
    width: 100%;
    height: 100px;
}

.userBox {
    float: right;
    width: 300px;
}

.userBox label{
    float: left;
    text-align: left;
    width: 100%;
    display: block;
    width: 215px;
}
.userBox img{
    float: left;
    margin-right: 5px;
}
.userBox a {
    float: left;
    text-align: left;
    word-break: break-all;
    width: 215px;
}
/* Footer */

footer {

    background-color: #222;
    color: #FFF;
    height: 30px;
    text-align: center;
    line-height: 30px;
}


/* Responive */

@media (max-width:600px) {
    /* Nav */
    nav {
        height: auto;
    }
    nav ul{
        padding-left: 0px;
    }
    nav .logo{
        float: none;
        display: block;
        padding: 5px 0;
        margin: 0px auto;
    }
    nav ul li a {
        float: none;
        border-top: 1px solid #555;
        text-align: center;
        width: 100%;
        margin: 0px;
        height: 40px;
        line-height: 40px;
    }

    /* Avatars */
    .avatar{
        width: 100%;
    }
    /* Generic style */
    form{
        width: 100%;
    }

}